<div
    [ngClass]="{
        'task-creator modal': true,
        'is-active': dataService.showAddTaskForm
    }"
>
    <div class="modal-background overlay" (click)="closeForm()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create a Task</p>
            <button
                class="delete close-form"
                aria-label="close"
                (click)="closeForm()"
            ></button>
        </header>
        <section class="modal-card-body">
            <form
                class="task-upload"
                [formGroup]="addTaskForm"
                (ngSubmit)="addTask()"
            >
                <div class="field">
                    <label class="label">
                        Choose task status
                        <span class="required" *ngIf="status?.invalid">*</span>
                    </label>
                    <div class="control">
                        <div class="select">
                            <select
                                formControlName="status"
                                class="task-status"
                            >
                                <option value="todo">To-do</option>
                                <option value="inProgress">In progress</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">
                        Task Name
                        <span class="required" *ngIf="name?.invalid">*</span>
                    </label>
                    <div class="control">
                        <input
                            type="text"
                            formControlName="name"
                            class="input"
                            placeholder="Debug app.js"
                            required
                        />
                        <span
                            class="required validation-message"
                            *ngIf="name?.invalid && name?.touched"
                        >
                            Taskname is required
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        Describe the task at hand
                        <span class="required" *ngIf="description?.invalid"
                            >*</span
                        >
                    </label>
                    <div class="control">
                        <textarea
                            placeholder="Don't write a novel :D"
                            class="textarea"
                            formControlName="description"
                            required
                        ></textarea>
                        <span
                            class="required validation-message"
                            *ngIf="description?.invalid && description?.touched"
                        >
                            Description is required
                        </span>
                    </div>
                </div>
                <hr />
                <div class="field">
                    <div class="control">
                        <div class="checkbox">
                            <label class="label">
                                Set Deadline? &nbsp;
                                <input
                                    type="checkbox"
                                    formControlName="setDeadline"
                                    class="deadline-checkbox"
                                />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped dates" *ngIf="enableDates">
                    <div class="control">
                        <div class="date">
                            <label class="label"> Start date </label>
                            <input
                                type="date"
                                class="input start-date"
                                formControlName="startsOn"
                            />
                            <p
                                *ngIf="!dateInvalidChecks.startDateCurrentDate"
                                class="help is-danger validation-message"
                            >
                                {{ dateErrors.startDateLessThanCurrentDate }}
                            </p>
                            <p
                                *ngIf="!dateInvalidChecks.startDateDeadline"
                                class="help is-danger validation-message"
                            >
                                {{ dateErrors.startDateGreaterThanDeadline }}
                            </p>
                        </div>
                    </div>
                    <div class="control">
                        <div class="date">
                            <label class="label">
                                End date
                                <span
                                    *ngIf="enableDates && deadline?.invalid"
                                    class="required"
                                >
                                    *
                                </span>
                            </label>
                            <input
                                type="date"
                                class="input deadline-date"
                                formControlName="deadline"
                            />
                        </div>
                        <p
                            *ngIf="!dateInvalidChecks.deadlineCurrentDate"
                            class="help is-danger validation-message"
                        >
                            {{ dateErrors.deadlineLessThanCurrentDate }}
                        </p>
                        <p
                            *ngIf="!dateInvalidChecks.deadlineStartDate"
                            class="help is-danger validation-message"
                        >
                            {{ dateErrors.deadlineLessThanStartDate }}
                        </p>
                    </div>
                </div>
                <article class="message is-warning" *ngIf="enableDates">
                    <div class="message-header">
                        <p>Note&nbsp;:</p>
                    </div>
                    <div class="message-body">
                        Start date allows you to create a task on which you want
                        to start working on for a future date. Leave the start
                        date blank if you want to start working on the task
                        right now.
                    </div>
                </article>
                <hr />
                <div class="field is-grouped">
                    <div class="control">
                        <button
                            type="submit"
                            class="submit-form button is-warning"
                            [disabled]="
                                addTaskForm.invalid ||
                                !datesValid ||
                                !isAddTaskComplete
                            "
                        >
                            Submit
                        </button>
                    </div>
                    <div class="control">
                        <button
                            type="button"
                            class="button btn-close is-warning is-light"
                            (click)="closeForm()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <p class="subtitle is-6">
                TaskX&copy; doesn't share your data with anyone
            </p>
        </footer>
    </div>
</div>
