<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>TaskX&copy;</strong> created by
            <a href="https://linkedin.com/in/carlton-rodrigues" target="_blank"
                >Carlton Rodrigues</a
            >
        </p>
        <span class="icon">
            <a
                class="twitter-icon"
                target="_blank"
                href="https://twitter.com/CarltonRodz?s=09"
                ><i class="fab fa-twitter"></i
            ></a>
        </span>
        <span class="icon">
            <a
                class="github-icon"
                target="_blank"
                href="https://github.com/Carlton627"
            >
                <i class="fa fa-github"></i>
            </a>
        </span>
        <span class="icon">
            <a
                href="https://linkedin.com/in/carlton-rodrigues"
                target="_blank"
                class="linkedin-icon"
            >
                <i class="fa fa-linkedin"></i>
            </a>
        </span>
    </div>
</footer>
