<nav class="navbar is-warning navbar-main" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img
                class="nav-logo"
                src="../../../assets/taskX_logo_nav.png"
                alt=""
            />
        </div>
    </div>
    <div class="navbar-start">
        <div
            *ngIf="user && activeNavMenuItem"
            class="navbar-item has-dropdown is-hoverable"
        >
            <span class="navbar-link">{{ activeNavMenuItem }}</span>
            <div class="navbar-dropdown app-options">
                <ng-container *ngFor="let menuOption of appOptionsMenu">
                    <!-- use is-active class to highlight link -->
                    <a
                        [ngClass]="{
                            'navbar-item': true,
                            'is-active': menuOption.isActive
                        }"
                        (click)="menuItemSelectEvent(menuOption, true)"
                    >
                        {{ menuOption.name }}
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item" *ngIf="!user">
            <button
                class="button button-login is-light"
                (click)="googleSignIn()"
                [disabled]="!isSignInCompleteAfterClick"
            >
                <img src="../../../assets/Google__G__Logo.svg" />
                &nbsp;Sign in
            </button>
        </div>
        <ng-container *ngIf="user">
            <div class="navbar-item">
                <button
                    *ngIf="addTaskMode"
                    class="nav__btn--new-task button is-warning is-light"
                    (click)="dataService.showAddTaskForm = true"
                >
                    New task
                </button>

                <button
                    *ngIf="!addTaskMode"
                    class="nav__btn--new-task button is-warning is-light"
                    (click)="dataService.showCreateTeamForm = true"
                >
                    Create Team
                </button>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link username">
                    Hi {{ user.name.split(' ')[0] }} &nbsp;
                    <img [src]="user.photoURL" alt="" class="user-img" />
                </a>
                <div class="navbar-dropdown">
                    <a class="button-logoff navbar-item" (click)="signOut()">
                        Sign out
                    </a>
                    <hr class="navbar-divider" />
                    <p class="navbar-item">TaskX&copy; 1.1.0</p>
                </div>
            </div>

            <div class="navbar-item">
                <span
                    [title]="notificationHintText"
                    class="icon is-medium notification-icon"
                    (click)="toggleNotificationTray = !toggleNotificationTray"
                >
                    <i class="fa-solid fa-bell"></i>
                    <span *ngIf="notificationCount" class="notif-badge">
                        {{ notificationCount }}
                    </span>
                </span>
            </div>
        </ng-container>
    </div>
</nav>

<section class="notifications-tray" *ngIf="toggleNotificationTray && user">
    <ng-container *ngFor="let notification of notifications">
        <app-notification-card
            [notification]="notification"
            (deleteNotification)="deleteNotification($event)"
        ></app-notification-card>
    </ng-container>
</section>
