<section class="teams">
    <div class="hero is-background-gray is-medium">
        <div class="hero-body has-text-centered">
            <p class="title">Welcome to TaskX<sup>&copy;</sup> teams</p>
            <p class="subtitle">
                To get started click on the Create Team button up top.
            </p>
        </div>
    </div>

    <div class="section teams-list" *ngIf="teamsList.length">
        <h2 class="title">Teams</h2>
        <div
            class="team-cards columns is-variable is-3-desktop is-8-widescreen"
            *ngFor="let teamsIterable of teamsIterableCardsList"
        >
            <div class="column is-one-third" *ngFor="let team of teamsIterable">
                <app-team-card [team]="team"></app-team-card>
            </div>
        </div>
    </div>

    <div class="no-teams hero is-medium" *ngIf="!teamsList.length">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h2 class="subtitle">Looks like you are not part of a team</h2>
                <button
                    class="button is-warning"
                    (click)="dataService.showCreateTeamForm = true"
                >
                    Get started
                </button>
            </div>
        </div>
    </div>
</section>

<app-create-team-form
    *ngIf="dataService.showCreateTeamForm"
></app-create-team-form>
